
* {
    font-family: 'Nunito', 'sans-serif';

}

ul{
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    border: 1px solid grey;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    list-style: none;


}

div{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px ;
    text-align: center;
}

